/* OVERVIEW */
* {
    margin: 0;
    padding: 0;
    font-family: "Gugi", sans-serif;
    /* box-sizing: border-box; */
    overflow: auto;
}

body {
    background: radial-gradient(circle, rgba(143,66,4,1) 0%, rgba(107,11,39,1) 34%, rgba(5,3,48,1) 100%);
    color: rgb(207, 200, 200);
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* overflow: auto; */
}

body::before {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.263); 
    z-index: -5; 
}


/* NAV */
nav {
    background-color: transparent;
    padding: 0 1rem;
    height: 7vh;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.5rem;
    opacity: 0.8;
    /* gap: 6rem; */
}

nav ul {
    list-style-type: none; /* Supprime les puces de la liste */
    padding: 0; /* Supprime le padding par défaut */
    display: flex; /* Affiche les éléments de la liste en ligne */
    justify-content: space-around; /* Espace égal entre les éléments */
}

nav ul li {
    margin: 0 15px; /* Espacement horizontal entre les éléments */
}

nav ul li a {
    color: white; /* Couleur du texte des liens */
    text-decoration: none; /* Supprime le soulignement des liens */
    font-weight: bold; /* Met le texte en gras */
}

nav ul li a:hover {
    text-decoration: underline; /* Souligne le lien au survol */
}


/* FOOTER */
footer {
    margin-top: auto;
    background-color: rgba(0, 0, 0, 0.16); /* Semi-transparent black background */
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    & p {
        color: #434246;
        & a {
            text-decoration: none;
            color: inherit;
        }
    }
}

footer p {
    opacity: .6; /* Ensure the text is fully opaque */
    color: rgba(255, 255, 255, 0.773); /* Set the text color to white for better visibility */
}